// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$mat-background-color: #fafafa; // #fafafa for a light and #303030 for a dark theme
$v-focus-color: #00BCD4; // (You can find colors at materialpalette.com) $v-focus-color is supposed to be your accent color
// Note: " ... Using colors from the Material Design palette is optional. ... "
@import "../material/material.scss"; 
@import "addons.scss";

@mixin mytheme {
  @include material;
	@include addons;
	
  	.v-label-apptitle {
  		margin-top: 10px;
  		margin-bottom: 10px;
	    font-size: 18px;
	    color: #E0E0E0;
	    line-height: normal;
   	}
   	
   	.loginformtitle {
	    font-size: 24px;
	    color: black;
	    line-height: normal;
   	}
	  	
  	:not(.v-upload) > * > .v-button.v-button-loginbutton{
	    background-color: black !important;   
	    font-size: 12pt;
	    font-weight: bold;
	    color: white;
	    border-color: black;
	    border-radius: 0px;
	    border-width: 4px;
	    background-image: none;
	}

	
	.loginimage {
      	background: url("images/bg.jpg") repeat;
	}
	
	.menuimage {
		background: url("images/bg3.jpg") no-repeat;
		background-size: cover;
	}
	
	.menuitem {
		padding: 15px;
		font-size: 16px;
	    color: #E0E0E0;
	    line-height: normal;
	}
	
	:not(.v-upload) > * > .v-button.v-button-updatebtn {
    	background-color: #4b4b65 !important;
    	color: white !important;
	}

	.v-grid tr.v-selected {
    	background-color: #4b4b65;
    	font-color: #fff;
	}
	
	.windowtext {
		color: #6C6C6C;
		font-size: 18px;
	}
	
    .v-slot-searchfield .v-has-caption .v-caption-searchfield{
    	height: 45px;
    	position: absolute;
    }
    
    .selectedstyle {
    	color: inherit !important;
   		background: #dfdfdf !important;
    }
}
