#
# Project specific excludes
#

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

.directory
target/
build/

# eclipse project file
.settings/
.classpath
.project


# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
GntMovies-ear/src/main/application/META-INF/GntMovies-ds.xml
GntMoviesUtilities/
GntMoviesReport/
